<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Janata Opthalmic Private Limited">
    <meta name="description" content="Official Website of Janata Opthalmic Private Limited for Services and Information">
    <title>Janata Opthalmic Private Limited | Clear The Vision</title>
    <link rel="stylesheet" href="/style/shop.css">
    <link rel="icon" href="/images/Shop_Pic.jpg">

</head>

<body id="top">

    <header class="nav_header">

        <nav class="nav_bar flex">

            <span>
                <h1 class="main_font">Janata</h1>
            </span>

            <ul class="nav_list flex">

                <li class="nav_list_item"><a href="#top" class="nav_links">Home</a></li>
                <li class="nav_list_item"><a href="#about" class="nav_links">About</a></li>
                <li class="nav_list_item"><a href="#certificate" class="nav_links">Certificates</a></li>
                <li class="nav_list_item"><a href="#services" class="nav_links">Services</a></li>
                <li class="nav_list_item"><a href="#contact" class="nav_links">Contact</a></li>
            </ul>

            <span class="hamburger hidden">
                ☰
            </span>

        </nav>

    </header>

    <main>

        <section id="hero">
            <div class="hero_div"></div>
        </section>

        <section class="main_section" id="about">

            <div class="section_div flex col">

                <h1 class="main_font">🙏 Janata Opthalmic Pvt.Ltd</h1>

                <div class="info_div flex col">

                    <h2 class="sub_font">Meet : Dr.Tekendra Jung Bohora , Opthomerist.</h2>
                    <br>

                    <div class="doctor_info flex">

                        <div class="dr_photo">
                            <img src="/images/DR_Photo.jpg" alt="Doctor Photo" class="fly_hover">
                        </div>

                        <h2 class="sub_font dr_speech flex col">

                            <span>
                                💬
                            </span>

                            "Hello, I am Dr. Tekendra Jung Bohora, an optometrist based in Nepal. As the founder of two dedicated medical and vision centers in Butwal and Khairani, I serve as a trusted companion for your eye health. My mission is to enhance your vision, giving you the opportunity to experience and enjoy the world calmly, clearly, and peacefully."
                        </h2>

                    </div>
                    
                </div>
                
            </div>

        </section>

        <section class="main_section" id="certificate">

            <div class="section_div flex col">

                <h1 class="main_font">🎓 Certificates & Honor</h1>

                <div class="info_div flex col">

                    <div class="Certificates_div flex wrap"></div>

                    <h2 class="sub_font dr_speech flex col">
                        <span>
                            💬
                        </span>
                        "These certificates are much more than mere documents; they represent my prestige and the relentless hard work driven by my passion."                    </h2>

                </div>

            </div>

        </section>

        <section class="main_section" id="services">

            <div class="section_div flex col">

                <h1 class="main_font">🛠️ Services & Facilities</h1>

                <div class="info_div flex col">
                        
                    <div class="Services_div flex wrap">

                        <div class="Service fly_hover flex">
                            <h3 class="info_font">Have Eye Checkup With Verified Specalist.</h3>
                        </div>

                        <div class="Service fly_hover flex">
                            <h3 class="info_font">Buy Eye Glasses or Customize according to your choice.</h3>
                        </div>

                        <div class="Service fly_hover flex">
                            <h3 class="info_font">Chat and Ask Questions from Online (Website).</h3>
                        </div>

                        <div class="Service fly_hover flex">
                            <h3 class="info_font">Have a nice , comfortable and technical checkup with machines.</h3>
                        </div>

                        <div class="Service fly_hover flex">
                            <h3 class="info_font">Make Your Eye Sight better in Less cost</h3>
                        </div>
                        
                    </div>

                </div>

            </div>

        </section>

        <section class="main_section" id="contact">

            <div class="section_div flex col">

                <h1 class="main_font">📞 Contact</h1>

                <div class="info_div flex col">

                    <h2 class="sub_font">Fill the Form Below for Mailing Us:</h2>

                    <form class="Conatct_form flex col"  action="https://formspree.io" method="POST">

                        <label for="email">
                            Email
                        </label>
                        <input type="email" id="email" name="email" class="form_input" placeholder="Hello@mail.com" required>

                        <label for="user_name">
                            Name
                        </label>
                        <input type="text" id="user_name" name="name" class="form_input" placeholder="Hello" required>
                       
                        <label for="message">
                            Message
                        </label>
                        <textarea id="message" name="message" class="form_input" required>
                        </textarea>

                        <button type="submit" class="fly_hover form_input">Send Messgae</button>

                    </form>

                </div>

            </div>

            <h2 class="sub_font">View Our Store on Map:</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d296.1091096825714!2d83.4661620251228!3d27.69843310669277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39968700081497c5%3A0x9c14b66dca6e6f63!2sJanta%20Ophthalmic%20Pvt%20Ltd%20(Chasma%20Ghar)!5e1!3m2!1sen!2snp!4v1783169611544!5m2!1sen!2snp" width="100%" height="500px" style="border:3 solid black; border-radius: 25px;" allowfullscreen="true" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>

        </section>

    </main>

    <footer class="main_footer flex col">
        <div class="line" style="background-color: blue; width: 100%; height: 1px;"></div>
        <div class="copy">
            <h4>© 2026 Janata Opthalmic Pvt.Ltd. All Rights Reserved.</h4>
        </div>

    </footer>

    <script src="/script/shop.js" ></script>
    
</body>

</html>